.reviews {
 
  position: relative;
  height: 707px;
 /* @media screen and(min-width:$tablet){
    height:620px;
  }
  @media screen and(min-width:$desktop) {
    height:618px;
    background-color: $main-backround-rose;
  }*/
}

.secondary-slider {
 
 
}
    /*@media screen and(min-width:$tablet) {
      top: 47px;
      height: 83px;
      width: 460px;
    }
    @media screen and(min-width:$desktop) {
      height: 52px;
      width: 750px;
    }*/
.wrapper{
  position: relative;
  height: 607px;
  
}
.slider{
  position: relative;
	height: inherit;
  width: inherit;
  border:1px solid rgb(206, 9, 25);
}
.wrapper > input {
	display: none;
}
.wrapper .controls {
  position: absolute;
	left: 50%;
  transform: translateX(-50%);
}
.wrapper label {
  position: relative;
	cursor: pointer;
	display: inline-block;
	height: 12px;
  width: 12px;
  margin-top:29px;
  margin-left: 18px;
	
	border-radius: 50%;
}
.wrapper label:after {
	border-radius: 50%;
  background-color:#D9D9D9 ;
	content: " ";
	display: block;
  position: absolute;
	height: 12px;
	left: -4px;
	top: -2px;
	width: 12px;

	border-radius: 50%;
}
.wrapper .label {
  
	display: inline-block;
	height: 8px;
  width: 8px;
	position: relative;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}
.wrapper .label:hover, 
#testimonials-slide1:checked ~ .controls label:nth-of-type(1),
#testimonials-slide2:checked ~ .controls label:nth-of-type(2),
#testimonials-slide3:checked ~ .controls label:nth-of-type(3){
	
  background-image: url(../images/sprite.svg#home);

}

.testimonials {
    position: absolute;
    
    border:1px solid blue;
    height:inherit;
    width: 280px;
    left: 50%;
   
    opacity: 0;
    z-index: 0;
    
    transition: transform ease-in-out 250ms, opacity ease-in-out 250ms;
   
 &__foto{
      margin-left: auto;
      margin-right: auto;
     
      padding-top: 80px;
      padding-bottom: 29px;
    }
 &__name {
      margin-bottom: 30px;
      text-align: center;
    }    
    &__background{
      width: inherit;
      height: 308px;
      border: 1px solid #FAFAFA;
      background-color: #FAFAFA;
      
    }
 &__content {
      margin-left: auto;
      margin-right: auto;
      margin-top: 43px;
     
      height: 239px;
      width: 157px;


      text-align: center;
      font-family: DM Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 31px;
      letter-spacing: 0em;
      background-image: repeating-linear-gradient(
        to top,
        #e1e1e1,
        #e1e1e1 1px,
        #fafafa 1px,
        #fafafa 31px
      );
  
      @media screen and(min-width:$tablet) {
        font-size: 14px;
      }
      @media screen and(min-width:$desktop) {
        font-size: 16px;
        line-height: 30px;
      }    
   
    &____punkt{
      margin: 0;
    }
      &__pic {
        
        height: 10px;
        width: 10px;
        float: left;
        margin: 0 10px;
        border-radius: 1px solid #12e810;
        background-color: #10e710;
        border-radius: 50%;
      }


}}

#testimonials-slide1:checked ~.slider >.testimonials-slide1,
#testimonials-slide2:checked ~.slider >.testimonials-slide2,
#testimonials-slide3:checked ~.slider >.testimonials-slide3
 {
	opacity: 1;
	z-index: 1;
	transform: scale(1);
  transform: translateX(-50%);
}