.reviews {
  padding-top: 123px;
  padding-bottom: 132px;
  background-color: $text-color-white;
  height: 707px;

  @media screen and(min-width: 1200px) {
    background-color: $main-backround-rose;
    height: 605px;
  }
}

/* General styles */
.reviews__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.sim-slider {
  position: relative;
}

.sim-slider-list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}

.sliderbox__photo {
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sliderbox__content {
  position: relative;
  width: 280px;
  height: 308px;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  padding: 43px 50px 20px 50px;

  @media screen and(min-width:768px) and(max-width:1199px) {
    width: 620px;
    height: 164px;
    padding: 47px 36px 28px 60px;
    margin-bottom: 42px;
  }
  @media screen and(min-width: 1200px) {
    width: 926px;
    height: 138px;
    padding: 47px 54px 32px 59px;
    margin-bottom: 34px;
  }

  &::after {
    content: '';
    position: absolute;

    bottom: -15%;
    left: 50%;
    transform: translateX(-20px);
    height: 4px;
    width: 32px;

    background-image: url(../images/threedots.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sliderbox__content .content__reviews {
  position: relative;
  z-index: 0;

  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  letter-spacing: 0.04em;
  @media screen and(min-width:768px) and(max-width:1199px) {
    font-size: 14px;
    line-height: 2.14;
  }
  @media screen and(min-width: 1200px) {
    font-size: 16px;
    line-height: 1.87;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    left: -26px;
    height: 40px;
    width: 54px;

    background-image: url(../images/parentheses.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sliderbox__content .content__reviews:nth-child(1) {
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    #fafafa 1px,
    #fafafa 31px
  );
}
.sim-slider__name {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  margin-bottom: 30px;
  @media screen and(min-width:768px) and(max-width:1199px) {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 35px;
  }
  @media screen and(min-width: 1200px) {
    font-size: 20px;
    line-height: 1.85;
    margin-bottom: 35px;
  }
}
/* Navigation item styles */

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  top: 500px;
  z-index: 3;
  text-align: center;

  @media screen and(min-width: 768px) {
    top: 400px;
  }

  @media screen and(min-width: 1200px) {
    top: 350px;
  }
}

span.sim-dot {
  width: 20px;
  height: 20px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #bbb;
  border-radius: 50px;
  cursor: pointer;
}

.slider-dots_item {
  position: absolute;
  fill: #d31342;
}
