.gallery {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to top, #ffffff 60%, #fff5f6 40%);

  &__content {
    height: 122px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../images/mobile/mobGallery.png');

    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 2dppx) {
      background-image: url('../images/mobile/mobGallery@2x.png');
    }
    @media screen and(min-width:$mobile) {
      height: 264px;
      background-image: url('../images/tablet/tabletGallery.jpg');
    }
    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 2dppx) {
      background-image: url('../images/tablet/tabletGallery@2x.jpg');
    }
    @media screen and(min-width:$tablet) {
      height: 430px;
      background-image: url('../images/desktop/desktopGallery.jpg');
    }
    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 2dppx) {
      background-image: url('../images/desktop/desktopGallery@2x.jpg');
    }
  }
}

.contacts__title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
