<section class="reviews">
  <div class="container">
    <div class="sim-slider">
      <h3 class="reviews__title">reviews</h3>
      <ul class="sim-slider-list">
        <!-- это экран -->
        <li class="sim-slider-element">
          <img
            class="sliderbox__photo"
            src="./images/customers/customer.png"
            alt="1"
            width="85"
          />
          <div class="sliderbox__content">
            <p class="content__reviews">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="sim-slider__name">Emily, Los Angeles</p>
        </li>
        <li class="sim-slider-element">
          <img
            class="sliderbox__photo"
            src="./images/customers/customer2.png"
            alt="1"
            width="85"
          />
          <div class="sliderbox__content">
            <p class="content__reviews">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="sim-slider__name">Laura, New York</p>
        </li>
        <li class="sim-slider-element">
          <img
            class="sliderbox__photo"
            src="./images/customers/customer3.png"
            alt="2"
            width="85"
          />
          <div class="sliderbox__content">
            <p class="content__reviews">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="sim-slider__name">Samanta, Orlando</p>
        </li>
      </ul>
      <div class="sim-slider-arrow-left"></div>
      <div class="sim-slider-arrow-right"></div>
      <div class="sim-slider-dots"></div>
    </div>
  </div>
</section>
