
<section class="reviews">
    <div class="container">
    <div class="wrapper">
      <div class="slider">
        <div class="testimonials testimonials-slide1">
        <img class="testimonials__foto" src="./images/customers/customer.png" alt="testimonials one" width="85" />
                <div class="secondary-slider">
                  
                  <div class="sliderbox">
                    <div class="sliderbox__item" id="slide4">
                        <p class="sliderbox__content">
                            Nullam viverra consectetuer.
                            Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                            Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <div class="sliderbox__item" id="slide5">
                        <p class="sliderbox__content">
                            Lorem in nibh vel risus
                            Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit quam nunc, congue.
                            Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <div class="sliderbox__item" id="slide6">
                        <p class="sliderbox__content">
                            Nullam viverra consectetuer.
                            Quisque cursus et, porttitor risus.
                            Aliquam  primis  sem.
                            Lorem in nibh vel risus.
                        </p>
                    </div>                      
                  </div>
                  <ul class="secondary-slider__punkt">
                    <li class="secondary-slider__pic"><a href="#slide4">
                            <svg height="4" width="4"></svg></a></li>                                      
                    <li class="secondary-slider__pic"><a href="#slide5">
                            <svg height="4" width="4"></svg></a></li>
                    <li class="secondary-slider__pic"><a href="#slide6">
                            <svg height="4" width="4"></svg></a></li>
                  </ul>
                
                </div>

         <p class="testimonials__name">Emily, Los Angeles</p>
        </div>  
        <div class="testimonials testimonials-slide2">
            <img class="testimonials__foto" src="./images/customers/customer2.png" alt="testimonials one" width="85" />
                    <div class="secondary-slider">
                      
                      <div class="sliderbox">
                        <div class="sliderbox__item" id="slide7">
                            <p class="sliderbox__content">
                                Nullam viverra consectetuer.
                                Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                                Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                        <div class="sliderbox__item" id="slide8">
                            <p class="sliderbox__content">
                                Lorem in nibh vel risus
                                Quisque cursus et, porttitor risus.
                                Aliquam sem. In hendrerit quam nunc, congue.
                                Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                        <div class="sliderbox__item" id="slide9">
                            <p class="sliderbox__content">
                                Nullam viverra consectetuer.
                                Quisque cursus et, porttitor risus.
                                Aliquam  primis  sem.
                                Lorem in nibh vel risus.
                            </p>
                        </div>                      
                      </div>
                      <ul class="secondary-slider__punkt">
                        <li class="secondary-slider__pic"><a href="#slide7">
                                <svg height="4" width="4"></svg></a></li>                                       
                        <li class="secondary-slider__pic"><a href="#slide8">
                                <svg height="4" width="4"></svg></a></li>
                        <li class="secondary-slider__pic"><a href="#slide9">
                                <svg height="4" width="4"></svg></a></li>
                      </ul>
                    
                    </div>
    
             <p class="testimonials__name">Sara, Florida</p>
            </div> 
         <div class="testimonials testimonials-slide3">
                <img class="testimonials__foto" src="./images/customers/customer.png" alt="testimonials one" width="85"  />
                        <div class="secondary-slider">
                          
                          <div class="sliderbox">
                            <div class="sliderbox__item" id="slide1">
                                <p class="sliderbox__content">
                                    Nullam viverra consectetuer.
                                    Quisque cursus et, porttitor risus.
                                    Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                                    Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                            <div class="sliderbox__item" id="slide2">
                                <p class="sliderbox__content">
                                    Lorem in nibh vel risus
                                    Quisque cursus et, porttitor risus.
                                    Aliquam sem. In hendrerit quam nunc, congue.
                                    Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                            <div class="sliderbox__item" id="slide3">
                                <p class="sliderbox__content">
                                    Nullam viverra consectetuer.
                                    Quisque cursus et, porttitor risus.
                                    Aliquam  primis  sem.
                                    Lorem in nibh vel risus.
                                </p>
                            </div>                      
                          </div>
                          <ul class="secondary-slider__punkt">
                            <li class="secondary-slider__pic"><a href="#slide1">
                                    <svg height="4" width="4"></svg></a></li>                                      
                            <li class="secondary-slider__pic"><a href="#slide2">
                                    <svg height="4" width="4"></svg></a></li>
                            <li class="secondary-slider__pic"><a href="#slide3">
                                    <svg height="4" width="4"></svg></a></li>
                          </ul>
                        
                        </div>
        
                 <p class="testimonials__name"> Monika, Orlando</p>
                </div>          
      </div> 
      <input type="radio" name="point" id="testimonials-slide1" checked>
      <input type="radio" name="point" id="testimonials-slide2">
      <input type="radio" name="point" id="testimonials-slide3">
      <div class="controls">
		<label for="testimonials-slide1"></label>
		<label for="testimonials-slide2"></label>
		<label for="testimonials-slide3"></label>	
	</div>
    </div>      

    </div>
</section>

