<section class="reviews">
    <div class="container">
        <h2>
            
        </h2>
        <div class="wrapper">
            <input type="radio" name="point" id="testimonials-slide1" checked>
            <input type="radio" name="point" id="testimonials-slide2">
            <input type="radio" name="point" id="testimonials-slide3">
            <div class="slider">
                <div class="testimonials testimonials-slide1">
                    <img class="testimonials__foto" src="./images/customers/customer.png" alt="testimonials one"
                        width="85" />
                    <div class="testimonials__background">
                        <p class="testimonials__content">
                            Nullam viverra consectetuer.
                            Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                            Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="point"></span>
                    <p class="testimonials__name">Emily, Los Angeles</p>
                </div>

                <div class="testimonials testimonials-slide2">
                    <img class="testimonials__foto" src="./images/customers/customer2.png" alt="testimonials one"
                        width="85" />
                    <div class="testimonials__background">
                        <p class="testimonials__content">
                            Nullam viverra consectetuer.
                            Quisque cursus et, porttitor risus.
                            Aliquam sem.
                            Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="point"></span>
                    <p class="testimonials__name">Sara, Orlando</p>
                </div>

                <div class="testimonials testimonials-slide3">
                    <img class="testimonials__foto" src="./images/customers/customer3.png" alt="testimonials one"
                        width="85" />
                    <div class="testimonials__background">
                        <p class="testimonials__content">
                            Nullam viverra consectetuer.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                            Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <span class="point"></span>
                    <p class="testimonials__name">Monika, Floryda</p>
                </div>
            </div>

            <div class="controls">
                <label for="testimonials-slide1"></label>
                <label for="testimonials-slide2"></label>
                <label for="testimonials-slide3"></label>
            </div>
        </div>

    </div>
</section>